///////////////////////////////////////
/// Variaveis de cor
///////////////////////////////////////

/// Genericos

$black: #000000;
$white: #ffffff;

/// Marca

$primary: #b3157e;
$secondary: #703a9f;

/// Ui

$primary-button-shadow: 0 0 0 0.2rem rgba(179, 21, 126, 0.25);
$border: #d1d1d1;
$text: #353535;
